@import 'bootstrap-sprockets';
@import 'bootstrap';

body {
  background-color: #262525;
  color: #ffffff;
  background: url('/assets/index.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// .field {
//   text-align: center;
// }

// .container.center {
//   text-align: center;
//   margin-top: 60px;
// }

.navbar.navbar-inverse {
  border-radius: 0px;

  a {
    color: white;
  }
  a:hover {
    color: grey;
  }
  li > a {
    color: white;
  }
  li > a:hover {
    color: grey;
  }
}



img {
  border-style: solid;
  border-width: 5px;
  border-color: black;
  margin: none;

}

.thumbnail {
  border: none;
  background: none;
  padding: none !important;
  margin: none;
  text-align: center;
}

.col-md-4 {
  padding: none !important;
}

input {
  border-radius: 5px;
  border-style: none;
  color: black;
  padding: 3px;
  padding-left: 7px;
  padding-right: 7px;
}

input:focus {
  outline: 0;
  background-color: black;
  color: white;
}

.container {
  padding-bottom: 10px;
}

input#user_email {
  margin-bottom: 10px;
}

input#user_password_confirmation {
  margin-bottom: 10px;
}

input#user_password {
  margin-bottom: 10px;
}

.centered {
  text-align: center;
  margin-top: 30%;
}

input#search {
  margin-top: 7%;
}
